
<!-- Admin home -->
<%- include('adminHome') %>
<!--- /Admin home -->

  
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4">

                               <!-- Message box  -->
    <% if(message.length > 0) { %>
      <div id="alertmessage" class="alert alert-warning mt-3" role="alert">
          <%= message %>
      </div>
    <% } %>

    <div class="container mt-3">
      <div class="row">
        <div class="col text-center">
          <button class="btn btn-success" id="get-btn">GET</button>
          
         <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="adimnCreateUserBtn">NEW ROOM</button>

          <!-- <button class="btn btn-primary" id="addnewuser-btn">NEW USER</button> -->
          <!-- <button class="btn btn-warning" id="put-btn">PUT</button>
          <button class="btn btn-danger" id="delete-btn">DELETE</button> -->
        </div>
      </div>
    </div>

    <!-- Table section -->
    <div class="container mt-4">
      <div class="row tableGetSection">
        <div class="col">
          <table class="table  text-center table-striped">
            <thead class="bg-secondary text-white " style="font-size: 12px;">
              <tr>
                <th>ROOM ID</th>    <!-- Inside the appRoom.ejs file we have to add this -> <td width="5%">${room._id}</td>  -->
                <th>ROOM NUMBER</th>
                <th>ROOM TYPE</th>
                <th>DESCRIPTION</th>
                <th>PRICE (LKR)</th>
                <th>NO. OF PEOPLE</th>
                <th>AVAILABALITY</th>
                <th>IMAGE</th>
                <th>ACTION</th>
              </tr>
            </thead>

            <tbody id="table-body" style="font-size: 12px;">
              <!-- <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

<!-- New User Form -->
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" id="addusermodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <!-- Form -->
            <div class="card-body p-2">
                <h2 class="text-uppercase text-center mb-5">CREATE NEW ROOM</h2>
  
                <form action="/room/createroom" method="POST" id="add-user-form" enctype="multipart/form-data" >

                
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Room number</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="roomNumber" id="roomNumber" />
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Room type</label>
                    <input type="text" id="form3Example3cg" class="form-control form-control-lg" name="roomType" id="roomType" />
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Description</label>
                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" name="description" id="description" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Price(LKR)</label>
                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" name="price" id="price" />
                  </div> 

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">No. of people</label>
                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" name="noOfpeople" id="noOfpeople" />
                  </div> 

              


                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Upload image</label>
                    <input type="file" id="form3Example4cg" class="form-control form-control-lg" name="file" id="img" />
                  </div> 
                 
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
                  </div>
                </form>
  
              </div>
            <!-- Form End -->

        </div>
      </div>
    </div>
  </div>


<!-- Update User Form -->
   <div class="modal fade" id="updateform" id="updateuser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

              <!-- Update Form -->
              <div class="card-body p-2">
                <h2 class="text-uppercase text-center mb-5">UPDATE ROOM </h2>
  
                <form id="updateRoomForm" enctype="multipart/form-data">

                  <!-- <input hidden type="text" id="updateUserId" class="form-control form-control-lg" name="userID" id="userId" /> -->

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Room Number</label>
                    <input type="hidden" name="id"  id= "updateID" />
                    <input type="text" id="updateRoomNumber" class="form-control form-control-lg" name="roomNumber" id="roomNumber" />
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Room Type</label>
                 
                    <input type="text" id="updateRoomType" class="form-control form-control-lg" name="roomType" id="roomType" />
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Description</label>
                    <input type="text" id="updateDescription" class="form-control form-control-lg" name="description" id="description" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Price(LKR)</label>
                    <input type="text" id="updatePrice" class="form-control form-control-lg" name="price" id="price" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">No. of people</label>
                    <input type="text" id="updatePeople" class="form-control form-control-lg" name="noOfpeople" id="noOfpeople" />
                  </div> 


              


                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Upload image</label>
                    <input type="file" id="form3Example4cg"  id="updateImage" class="form-control form-control-lg" name="file" id="img" />
                  </div> 


                  <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
                  </div>
                </form>
            </div>
            <!-- Form End  -->
        </div>
      </div>
    </div>
  </div> 

</div>
</main>
<!--Main layout-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script type="module" src="js/appRoom.js"></script>
  </body>
</html>
