<!-- include header -->
<%- include('header') %>

<div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-md-push-5">
            <div class="booking-cta">
              <h1>Make your reservation now</h1>
              <p>
                One of the finest five-star Colombo hotels located in-between
                Galle Face Green, the World Trade Centre and the Dutch Hospital
                Precinct. we welcome you to The Bondel Hotel in Colombo.
              </p>
            </div>
          </div>

          <div class="col-md-4 col-md-pull-7">
            <div class="booking-form ">
              <div class="text-center" style=" padding-bottom: 10px;"> 
                <h1 style=" font-size: 30px; text-transform: uppercase; font-weight: 700;">Check Your Availability</h1>
              </div>

              <form action="/displayRooms" method="GET" style=" padding-top: 20px;" >
                <!-- <div class="form-group">
                                        <span class="form-label">Your Destination</span>
                                        <input class="form-control" type="text" placeholder="Enter a destination or hotel name">
                                    </div>
                                -->
                                  
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                     <span class="form-label">Check In</span>
                      <input class="form-control" type="date" name="checkIn" id="checkin" required />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span class="form-label">Check out</span>
                      <input class="form-control" type="date" name="checkOut" id="checkout" required />
                    </div>
                  </div>
                </div>

                 <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span class="form-label">Rooms</span>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <span class="form-label">Guest</span>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>

                  <!-- <div class="col-sm-4">
                    <div class="form-group">
                      <span class="form-label">Adults</span>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div> -->
                  <!-- <div class="col-sm-4">
                    <div class="form-group">
                      <span class="form-label">Children</span>
                      <select class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div> -->
                </div> 
                <div class="form-btn">
                 <button class="submit-btn">Find Now</button>
              
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
