
<!------------ Nav Bar Section ---------->
<nav class="navbar  navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" id="logoTitle"><b> Bondel Hotel</b></a>

    <!-- Toggler Bar -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link navtext" aria-current="page" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link navtext" href="#">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link navtext" href="#">Review</a>
        </li>

        <li class="nav-item">
          <a class="nav-link navtext" href="#">Rooms</a>
        </li>

        <li class="nav-item">
          <a class="nav-link navtext" href="/chat">Chat with us</a>
        </li>
      </ul>

      <div class="d-grid d-md-flex justify-content-md-end">
        <a href="./registerpage" class="btn me-md-3 navtextbtn" role="button">Sign Up </a>
        <a href="./loginpage" class="btn me-md-3 navtextbtn" role="button">Login </a>
      </div>

    </div>
  </div>
</nav>
<!------------ Nav Bar Section End---------->
